%p
  Congrats on your first post
  = @user.name
  !

%p
  Now that you have published your first post, here are some things you should know.

%p
  Raclette intelligentsia portland you probably haven't heard of them forage. Ethical small batch vegan, +1 roof party cliche chambray cold-pressed aesthetic hashtag typewriter. Biodiesel williamsburg seitan trust fund organic pabst crucifix intelligentsia. Yuccie fam kickstarter health goth pitchfork microdosing art party plaid fashion axe kale chips copper mug hammock hot chicken. Swag jean shorts polaroid vape twee actually DIY gentrify thundercats put a bird on it drinking vinegar. Ramps craft beer pinterest raw denim enamel pin. Wayfarers adaptogen pug pabst wolf.

%p
  Sincerely, EMR-Blog Team
