.row
  .col
    %h1 
      Two Factor Authentication
    %hr
.row
  .col-lg-4
    .card.main-card
      = form_for users_check_2fa_path do |f|
        .field.form-group
          = f.label :code, "Verification Code"
          %br
          = f.text_field :token, autofocus: true, class: "form-control"
  
        .actions
          = f.submit "Log in", class: "btn btn-success"
          