.col-lg-8
  .form-group
    = f.label :title
    %br
    = f.text_field(:title, {:class => "form-control"})
  .form-group
    = f.label :body
    %br
    = f.text_area(:body, {:class => "form-control post-body"})
  
