<div class="row">
  <div class="col">
    <h1>All posts</h1>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <% @posts.each do |post| %>
      <a href="/posts/<%= post.id %>"><%= post.title %></a>
    <% end %>
  </div>
</div>
