<div class="row">
  <div class="col">
    <h1>All posts</h1>
    <hr>
  </div>
</div>
<div class="row">
  <div class="col-lg-8">
    <% @posts.each do |post| %>
      <div class="card">
        <a href="/posts/<%= post.id %>"><%= post.title %></a>
        <%= post.created_at.strftime('%b %e %Y') %>
      </div>
    <% end %>
  </div>
</div>
