/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

body {
  min-height: 100vh;
  background: linear-gradient(to bottom right, lightskyblue, blue);
}

.main-card {
  padding: 1rem;
  background: skyblue;
  margin-bottom: 1.5rem;
  box-shadow: 0 0 1rem #333
}

.comment-card {
  padding: 1rem;
  background-color: lightgray;
  margin-bottom: 1rem;
  box-shadow: 0 0 1rem #333
}

.comment-heading {
  margin-top: 1rem;
}

.post-body {
  height: 12rem;
}

.post-card {
  padding: 1rem;
  background: #F8F9FA;
  text-align: justify;
}

.comment-button {
  width: 5rem;
}